<p id="notice"><%= notice %></p>

<p>
  <strong>Course name:</strong>
  <%= @program.course_name %>
</p>

<p>
  <strong>Credit hours:</strong>
  <%= @program.credit_hours %>
</p>

<%= link_to 'Edit', edit_program_path(@program) %> |
<%= link_to 'Back', programs_path %>
